@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

header {
  padding-top: 18px;
  padding-bottom: 18px;
  background: #222;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-left {
  display: flex;
  align-items: center;
  gap: 41px;
}

.navigation-right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.cart-icon {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #f16d7f;
  color: #fff;
  font-size: 12px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  height: 764px;
  background: #f1e4e6;
  gap: 60px;
  margin-bottom: 65px;
  position: relative;
}

.banner img {
  height: 764px;
}

.banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 92px;
  border-left: solid 12px #f16d7f;
  padding-left: 16px;
  margin-top: 290px;
  text-transform: uppercase;
  color: #222;
}

.banner h1 {
  font-size: 48px;
  font-weight: 900;
}

.banner p {
  font-size: 32px;
  font-weight: 700;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  width: 232px;
  background: #fff;
  padding: 32px 0 32px 32px;
  position: absolute;
  top: 0;
  right: 0;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hidden {
  display: none;
}

.sidebar-menu h2 {
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 4px;
}

.sidebar-menu h3 {
  text-transform: uppercase;
  color: #f16d7f;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.sidebar-menu a {
  list-style-type: none;
  padding-left: 20px;
  color: #6f6e6e;
  font-size: 14px;
  margin-bottom: 11px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 96px;
}

.categories-card {
  position: relative;
  cursor: pointer;
}

.small-card {
  width: 360px;
}

.categories-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
  z-index: 0;
}

.categories-text {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.categories-text p {
  color: #fff;
  font-size: 16px;
}

.categories-text h2 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 95px;
}

.products-title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 6px;
  margin-bottom: 48px;
}

.products-title h2 {
  color: #222;
  font-size: 30px;
}

.products-title p {
  color: #9f9f9f;
  font-size: 14px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 48px;
}

.product-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 360px;
}

.product-image {
  position: relative;
  transition: opacity 0.5s;
}

.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.86);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.cart-button {
  display: flex;
  align-items: center;
  gap: 11px;
  padding: 10px 15px;
  background: none;
  border: solid 2px #fff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.product-card:hover .product-overlay {
  opacity: 1;
  z-index: 1;
}

.product-description {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 16px;
  background: #f8f8f8;
}

.product-description h2 {
  text-transform: uppercase;
  color: #000;
  font-size: 13px;
}

.product-description p {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
}

.product-price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
}

.products-btn {
  display: flex;
  justify-content: center;
}

.products-btn button {
  border: solid 2px #f26376;
  background: #fff;
  padding: 14px 39px;
  color: #f26376;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
}

.products-btn button:hover {
  background: #f26376;
  color: #fff;
}

.advantages {
  background: #222224;
  padding: 103px 0 103px 0;
}

.advantages-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.advantage-card {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: center;
  text-align: center;
  color: #fbfbfb;
}

.advantage-card svg {
  margin-bottom: 25px;
  cursor: pointer;
  transition: transform 0.5s;
}

.advantage-card svg:hover {
  transform: scale(1.2);
}

.advantage-card h2 {
  font-size: 20px;
  margin-bottom: 16px;
}

.advantage-card p {
  font-size: 14px;
  font-weight: 300;
}

.subscription {
  background-image: url("./img/background.png");
  width: 100%;
  background-size: cover;
  padding-bottom: 156px;
  position: relative;
}

.subscription::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.7);
  z-index: 0;
}

.subscription-block {
  display: flex;
  gap: 327px;
}

.subscription-block-left {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 97px;
  z-index: 1;
}

.subscription-block-left p {
  color: #222224;
  font-size: 20px;
}

.subscription-block-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  margin-top: 150px;
  z-index: 1;
}

.subscription-form-text {
  text-transform: uppercase;
  color: #222224;
  line-height: 167%;
}

.subscription-form-text h3 {
  font-size: 24px;
  font-weight: 700;
}

.subscription-form-text p {
  font-size: 18px;
}

.subscription-form {
  display: flex;
}

.subscription-form-email {
  width: 256px;
  padding: 15px 0 15px 22px;
  font-size: 14px;
  border: none;
  border-radius: 25px 0 0 25px;
  background: #e1e1e1;
}

.subscription-form-btn {
  width: 100px;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 0 25px 25px 0;
  background: #f16d7f;
  cursor: pointer;
}

footer {
  background: #222224;
  padding: 24px 0 24px 0;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: #fbfbfb;
  font-size: 16px;
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 7px;
}

.footer-icons svg {
  background: #fff;
  width: 32px;
  height: 32px;
  padding: 8px;
  cursor: pointer;
  transition: 0.5s;
}

.footer-icons svg:hover {
  background: #f16d7f;
  fill: #fff;
}

@keyframes slide-left {
  0% {
    transform: translateX(232px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media (max-width: 768px), (max-width: 1161px) {
  .container {
    width: 736px;
    margin: 0 auto;
  }

  .banner {
    justify-content: center;
    height: 367px;
    gap: 39px;
  }

  .banner img {
    height: 367px;
  }

  .banner-text {
    margin-top: 138px;
  }

  .banner h1 {
    font-size: 44px;
  }

  .banner p {
    font-size: 24px;
  }

  .categories {
    gap: 19px;
    margin-bottom: 109px;
  }

  .small-card {
    width: 232px;
  }

  .products {
    margin-bottom: 64px;
  }

  .products-title {
    gap: 3px;
    margin-bottom: 72px;
  }

  .products-list {
    gap: 16px;
    margin-bottom: 32px;
  }

  .advantages {
    padding: 48px 0 64px 0;
  }

  .advantages-list {
    flex-direction: column;
    gap: 48px;
  }

  .subscription {
    padding-bottom: 140px;
    background-position: 25%;
  }

  .subscription-block {
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  .subscription-block-left {
    margin-top: 64px;
  }

  .subscription-block-right {
    margin-top: 0px;
  }
}

@media (max-width: 376px), (max-width: 752px) {
  .container {
    width: 344px;
    margin: 0 auto;
  }

  .man-icon {
    display: none;
  }

  .cart-icon {
    display: none;
  }

  .banner {
    height: 363px;
    align-items: center;
    margin-bottom: 64px;
  }

  .banner img {
    display: none;
  }

  .banner-text {
    margin: auto;
    height: 61px;
  }

  .banner h1 {
    font-size: 38px;
  }

  .banner p {
    font-size: 20px;
  }

  .categories {
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 64px;
  }

  .small-card {
    width: 343px;
  }

  .products {
    margin-bottom: 96px;
  }

  .products-title {
    margin-bottom: 64px;
  }

  .products-list {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .advantages {
    padding: 48px 0 81px 0;
  }

  .advantages-list {
    gap: 46px;
  }

  .advantage-card h2 {
    margin-bottom: 14px;
  }

  .subscription {
    padding-bottom: 110px;
    background-position: 27%;
  }

  .subscription-block {
    gap: 59px;
  }

  .subscription-block-left {
    width: 343px;
  }

  .subscription-block-left p {
    font-size: 18px;
  }

  .subscription-form-text p {
    font-size: 14px;
  }

  .subscription-form-email {
    width: 245px;
  }

  .subscription-form-btn {
    width: 95px;
  }

  footer {
    padding: 43px 0 9px 0;
  }

  .footer-block {
    flex-direction: column-reverse;
    gap: 40px;
  }
}
